.row.content {
    margin-top: 2rem;    
.col-md-7 {
    .carousel.slide {
        border: 2px solid black;
        border-radius: 19px;
    }
    }


.col-md-3.contentRight {
    .card {
     position: absolute;
     width: 29%;
     background-color: rgba(0, 0, 0, 0.333);
     padding-left: 16px;
     padding-right: 30px;
     padding-top: 15px;
     
    }
    .col-md.InputMob {
        input {
            width: 348px;
            margin-bottom: 13px;
        }
        p {
            border: 1px solid red;
            background-color: red;
            color: white;
            padding-left: 19px;
            border-radius: 6px;
            padding-right: 13px;      
            margin-bottom: 0;  
            
          
           
        }
    }
    .col-md-6.choice {
        p {
            border: 1px solid white;
            background-color: white;
            text-align: center;
        }
    }
    .col-md-btnsub {
        text-align: center;
        margin-bottom: 10px;

        button {
            color: white;
            background-color: red;
            
        }
    }
}
}

.listCard {
    margin-top: 8rem;
    border-bottom: 6px solid red;
    border-radius: 11px;
    font-size: 21px;
    margin-bottom: 0;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin-right: 41px;
        margin-top: 27px;
    }
}


