

.col-md-5-d-flex.input {
    input {
        width: 90%;
        margin-top: 2rem;
        padding: 7px;
    }

    button {
        padding: 7px;
        color: white;
        background-color: orange;
        
    }
}